<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1> Edit User {{ user.id }}</h1>
    <h2> Last Updated {{ user.updated_at }}</h2>
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <form action="/users/{{ user.id }}/update" method="POST">
        {% csrf_token %}
        First name: <input type="text" name="first_name" value="{{ user.first_name }}"><br>
        Last name: <input type="text" name="last_name" value="{{ user.last_name }}"><br>
        Email: <input type="text" name="email" value="{{ user.email }}"><br>

        <input type="submit" value="Update">
    </form>
    <p><a href="/users">Back</a></p>
    
</body>
</html>