<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Home</title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>

        <ul>
        <li><a href="/">Home</a></li>
        <li><a class="active" href="/project">Project</a></li>
        <li><a href="/contact">Contact</a></li>
        </ul>
        <div class = "proj">
            <h3>Project 1</h3>
            <img src="~/img/pic.png">
            <h3>Project 2</h3>
            <img src="~/img/pic.png">
            <h3>Project 3</h3>
            <img src="~/img/pic.png">
        </div>

    </body>
</html>