<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the Great Number Game!</h1>
    <h4>I am thinking of a number between 1 and 100
        <br>
        Take a guess!
    </h4>
    <form action = "/submit" method = "POST">
        <input type="text" name = "guess">
        <input type="submit" value = "guess">   
    </form>
    <form action = "/clear" method = "POST">
        <input type ="submit" value = "reset">
    </form>

    <h3>{{ session["content"] }}</h3>
    <h4>Random number {{ session["random"] }}</h4>
    
</body>
</html>