
<h1><a href="/dashboard">Dashboard</a> || <a href="/users/@ViewBag.userId">Profile</a> || <a href="/logout">Logout</a></h1>

@model userDashboard.Models.Register
<h1>Edit information</h1>
<hr>
<form asp-controller="Home" asp-action="UpdateUser" method="post">
    <label asp-for="FirstName">First Name</label>
    <input asp-for="FirstName"/>
    <span asp-validation-for="FirstName"></span>

    <br>
    <label asp-for="LastName">Last Name</label>
    <input asp-for="LastName"/>
    <span asp-validation-for="LastName"></span>
    <br>
    <label asp-for="Email"></label>
    <input asp-for="Email"/>
    <span asp-validation-for="Email"></span>
    <br>
    <button type="submit">Save</button>
</form>
    <br>
    <hr>
<form asp-controller="Home" asp-action="UpdateUserPassword" method="post">
    <h1>Change password</h1>
    <br>
    <label asp-for="Password"></label>
    <input asp-for="Password"/>
    <span asp-validation-for="Password"></span>

     <br>
    <label asp-for="ConfirmPassword">Confirm password</label>
    <input asp-for="ConfirmPassword" type="password"/>
    <span asp-validation-for="ConfirmPassword"></span>

    <br>
    <button type="submit">Register</button>
</form>
<br>
<hr>
<form asp-controller="Home" asp-action="UpdateUserPassword" method="post">
    <label asp-for="Description">Description</label>
    <br>
    <textarea asp-for="Description"></textarea>
    <span asp-validation-for="Description"></span>
    <br>
    <button type="submit">Save</button>
</form>