<h1>Lost in the Woods</h1>
<p>List of local hiking trails</p>

<a href="/NewTrail">Add a new Trail</a>
<br><hr>
@{
    <table>
        <tr>
            <th>Trail Name</th>
            <th>Trail Length</th>
            <th>Trail Change</th>
        </tr>
    @foreach (var trail in ViewBag.Trails)
    {
        <tr>
            
            <td><a href="trails/@trail.id"> @trail.name</a></td>
            <td>@trail.trailLength miles</td>
            <td>@trail.elevationChange feet</td>
        </tr>
    }
    </table>

}