/*CSS reset settings here*/
*{
    margin: 0px;
    padding: 0px;
   }
   #wrapper{
       width: 970px;
       margin:auto;
       font-family: Arial, Helvetica, sans-serif;
       text-align: center;
       align-content: center;
       padding:30px 5px;
   }
   .mess{
       color:red;
   }
   form {
       width: 80%;
       margin: 0 auto;
   }
   
   label, input {
       /* in order to define widths */
       display: inline-block;
   }
   
   label {
       width: 30%;
       /* positions the label text beside the input */
       text-align: right;
   }
   
   label + input + select + textarea {
       width: 30%;
       /* large margin-right to force the next element to the new-line
          and margin-left to create a gutter between the label and input */
       margin: 0 30% 0 4%;
   }
   
   /* only the submit button is matched by this selector,
      but to be sure you could use an id or class for that button */
   input + input {
       float: right;
   }
   .review_main{
       display:inline-block;
       width: 45%;
       vertical-align: top;
   }
   #other_reviews_box{
       width: 85%;
       height: 200px;
       overflow-y: auto;
       border: 2px solid black;
       margin-bottom: 20px;
       padding-left: 15px;
   }
   .main_sections{
       display: inline-block;
       vertical-align: top;
   }