<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>
</head>
<body>
     <h2>Welcome</h2>
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <p><span style="color:red">{{ message }}</span></p>
        {% endfor %}
    </div>
    {% endif %}
    <form action="/users/register" method="POST">
        {% csrf_token %}
        Name: <input type="text" name="name"><br>
        Alias: <input type="text" name="alias"><br>
        Email: <input type="text" name="email"><br>
        Password: <input type="password" name="password"><br>
        Confirm password: <input type="password" name="password_confirm"><br>
        <input type="submit" value="Register">
    </form>
    <h2>Login</h2>
    <form action="/users/login" method="POST">
        {% csrf_token %}
        Email: <input type="text" name="email"><br>
        Password: <input type="password" name="password"><br>
        <input type="submit" value='Login'>
    </form>
    
</body>
</html>