<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/generate", method="post">
        {% csrf_token %}
         <h3>attempt #  {{ request.session.attempt }}   <br>
        Random word: </h3>
        {{ request.session.random_str }}
        <br>
        <input type="submit" value="Submit">
    </form>
    <form action="/reset", method="post">
        {% csrf_token %}
        <input type="submit" value="Reset">
    </form>
</body>
</html>