<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <title>Document</title>
</head>

<body>
    <form action="/action_page.php">
        Car brand:
        <br>
        <input type="text" name="firstname">
        <br> Car model:
        <br>
        <input type="text" name="lastname">
        
        <br> Car year:
        <br>
        <input type="text" name="lastname">
        <br>
        <br>
        <input type="submit" value="Submit">
    </form>

</body>

</html>