<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Books Home</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'main/css/home_styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">    
  </head>
  <body>
    <div id="wrapper">
      <div id="nav-bar">
        <h2 class="nav-bar-item">Welcome {{user.full_name}}!</h2>
        <h3 class="nav-bar-item right-item" id="add-book-link"><a href="{% url 'new_book' %}">Add Book and Review</a></h3>
        <h3 class="nav-bar-item right-item" id="logout-link"><a href="{% url 'logout' %}">Logout</a></h3>
      </div>
      <div id="main">
        <div class="content-section">
          <h3>Recent Book Reviews</h3>
          <div class="inner-content">
            {% for review in reviews %}
              <div class="review">
                <h3><a href="{% url 'book_page' book_id=review.book.id %}">{{review.book.title}}</a></h3>
                <div class="review-inner">
                  <p>Rating:
                  {% for i in "x"|rjust:review.stars %}
                    <img src="{% static 'main/img/star.png' %}" alt="star">
                  {% endfor %}</p>
                  <p><a href="{% url 'user_page' user_id=review.user.id %}">{{review.user.alias}}</a> says: <i>{{review.content}}</i></p>
                  <p>Posted on {{review.created_at}}</p>
                </div>
              </div>

            {% endfor %}
          </div>
        </div>
        <div class="content-section">
          <h3>Other Books with Reviews</h3>
          <div id="book-list">
            <!-- {% for book in books %}
              <p><a href="{% url 'book_page' book_id=book.id %}">{{book.title}}</a></p>
            {% endfor %} -->
          </div>
        </div>
      </div>
    </div>
  </body>
</html>