<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All Animals</title>
</head>
<body>
    <h1>List of all animals</h1>
    <% for(var i=0; i < animals.length; i++) { %>
        <p> <a href="/animal/id<%= animals[i]._id %>"><%= animals[i].name %> </a></p>
        <hr>
    <% } %>
    <h3><a href="/animal/new">Add animal</a></h3>
</body>
</html>